# Python 3.12.7
# DSCI 560 Lab 5 - Reddit Data Processing and Clustering

beautifulsoup4==4.13.5
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
contourpy==1.3.3
coverage==7.10.7
cycler==0.12.1
fonttools==4.60.0
gensim==4.3.3
html5lib==1.1
idna==3.10
iniconfig==2.1.0
joblib==1.5.2
kiwisolver==1.4.9
matplotlib==3.10.6
mysql-connector-python==9.4.0
nltk==3.9.1
numpy==1.26.4
packaging==25.0
pandas==2.3.2
pathlib2==2.3.7.post1
pillow==11.3.0
pluggy==1.6.0
praw==7.8.1
prawcore==2.4.0
Pygments==2.19.2
pyparsing==3.2.5
pytesseract==0.3.13
pytest==8.4.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.9.18
requests==2.32.5
scikit-learn==1.7.2
scipy==1.13.1
seaborn==0.13.2
six==1.17.0
smart_open==7.3.1
soupsieve==2.8
textblob==0.19.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
update-checker==0.18.0
urllib3==2.5.0
webencodings==0.5.1
websocket-client==1.8.0
wordcloud==1.9.4
wrapt==1.17.3